Usage

  Launch the example application with the following command line:
  
+------------------------------------------------------
java -jar ${project.build.finalName}.jar
+------------------------------------------------------