Usage

  Launch the example application with the following command line 
  (filling in the classpath with the required dependencies):
  
+------------------------------------------------------
java -jar ${project.build.finalName}.jar
+------------------------------------------------------