Downloads

  Binaries, source, and JavaDoc are available through Maven Central 
  under the group ID <<org.syphr>> and the artifact ID <<libmythtv->>[module].
  
  For example:
  
+------------------------------------------------------
        <dependency>
            <groupId>org.syphr</groupId>
            <artifactId>libmythtv-protocol</artifactId>
            <version>${project.version}</version>
            <type>jar</type>
            <scope>compile</scope>
        </dependency>
+------------------------------------------------------